<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= user.mail %>
  </p>

  <% if user.send_due_date_reminder? %>
    <p>
      Reminders configured to notify
      <strong><%= user.due_date_reminder_interval %></strong>
      days before the due date at
      <strong><%= user.due_date_reminder_time.strftime("%H:%M") %></strong>
      (UTC <strong><%= user.timezone %>:00</strong>)
    </p>
  <% else %>
    <p>
      <strong>No due date reminders configured.</strong>
    </p>
  <% end %>
</div>
